<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <!-- Google Organizer Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor Organizer CSS Files -->
    <link href="{% static 'assets2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/quill/quill.snow.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/quill/quill.bubble.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
    <link href="{% static 'assets2/vendor/simple-datatables/style.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets2/css/main.css' %}" />
  </head>
  <body>
    {% block content %}

    {% endblock %}

    <script src="{% static 'assets2/js/chat_box.js' %}"></script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets2/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets2/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets2/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets2/vendor/quill/quill.js' %}"></script>
    <script src="{% static 'assets2/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets2/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets2/vendor/php-email-form/validate.js' %}"></script>
  </body>
</html>
