<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="{% url 'user:landingpage' %}" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">E-Events</h1>
    </a>

    {% if request.path != "/login/" %}
    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="#" class="active">Home<br /></a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#packages">Packages</a>
        </li>
        <li>
          <a href="#contactus">Contact</a>
        </li>
        <li>
          <a href="{% url 'user:login' %}" class="btn-login-nav">Log in</a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    {% endif %}
  </div>
</header>
