{% extends "base1.html" %}
{% load custom_filters %}
{% block title %}
E-Events | Bookings
{% endblock title %}
{% load humanize %}
{% block content %}
{% include "components1/sidebar.html" %}


<section class="section user-booking mt-5">
    <div class="text-end mb-3">
        <a href="{% url 'user:create-booking' %}" class="btn btn-primary">Create Booking</a>
    </div>
    <div class="card mb-4">
      <div class="card-header t-header text-light mb-4">
        <h4>User bookings</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover datatable">
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Package</th>
              {% comment %} <th>Booking Date</th> {% endcomment %}
              <th>Wedding Date</th>
              <th>Paid</th>
              <th>Balance</th>
              {% comment %} <th>Package Price</th> {% endcomment %}
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
            <tr>
              <td>{{booking.booking_id|truncatechars:10}}</td>
              <td>{{booking.package.package_name}}</td>
              {% comment %} <td>{{booking.booking_date|date:"F j, Y"}}</td> {% endcomment %}
              <td>{{booking.wedding_date|date:"F j, Y"}}</td>
              <td>₱ {{booking.package_price|subtract:booking.remaining_balance|floatformat:0|intcomma}}</td>
              <td>₱ {{booking.remaining_balance|floatformat:0|intcomma}}</td>
              {% comment %} <td>{{booking.package_price|floatformat:0|intcomma}}</td> {% endcomment %}
              <td>
                <p class="d-inline-block px-2 mb-0 {% if booking.is_completed %}bg-success text-light{% else %} bg-warning{% endif %}" style="border-radius: 5px;">
                  {% if booking.is_completed %}
                  Completed
                  {% else %}
                  Pending
                  {% endif %}
                </p>
              </td>
              <td>
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewBookingDetails{{booking.booking_id}}"><i class="bi bi-eye"></i></button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</section>

{% for booking in bookings %}
<div class="modal fade" id="viewBookingDetails{{booking.booking_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Details:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="package_service" class="form-label d-block fw-bold">Package:</label>
            <input type="text" readonly value="{{ booking.package }}" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="package_service" class="form-label d-block fw-bold">Package Service:</label>
            <div class="form-control" id="service_included">
              {% for service in booking.booked_services.all %}
                <label for="service_{{forloop.counter}}" class="btn btn-primary text-light me-2 my-2">{{service.service_name}}</label>
              {% endfor %}
            </div>
          </div>
          <div class="col-12 mt-3">
            <label for="package_name" class="form-label fw-bold">Wedding Date:</label>
            <input type="text" readonly value="{{ booking.wedding_date }}" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="package_name" class="form-label fw-bold">Total Price:</label>
            <input type="text" readonly value="{{ booking.package_price|floatformat:0|intcomma }}" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="package_name" class="form-label fw-bold">Your Downpayment (20%):</label>
            <input type="text" readonly value="{{ booking.package_price|subtract:booking.remaining_balance|floatformat:0|intcomma }}" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="package_name" class="form-label fw-bold">Remaining Balance:</label>
            <input type="text" readonly value="{{ booking.remaining_balance|floatformat:0|intcomma }}" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="package_name" class="form-label fw-bold">Booked Date:</label>
            <input type="text" readonly value="{{ booking.booking_date }}" class="form-control" />
          </div>
        </div>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}