{% extends "base1.html" %}

{% block content %}

<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
  
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <i class="far fa-building text-danger fa-6x float-start"></i>
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-xl-12">
  
            <ul class="list-unstyled float-end">
              <li style="color: #4154f1; font-size: 30px;font-weight: 600; font-family: "Open Sans";">E-Events</li>
              <li>Gojo Satorou</li>
              <li>123-456-789</li>
              <li>gojo@gmail.com</li>
            </ul>
          </div>
        </div>
  
        <div class="row text-center">
          <h3 class="text-uppercase text-center mt-3" style="font-size: 40px;">Invoice</h3>
          <p>{{payment.transaction_id}}</p>
        </div>
  
        <div class="row mx-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Package</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{payment.booking.package.package_name}}</td>
                <td>₱ {{payment.amount_paid}}</td>
              </tr>
            </tbody>
          </table>
  
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-8">
            <p class="float-end text-center"
              style="font-size: 30px; color: red; font-weight: 400;font-family: Arial, Helvetica, sans-serif;">
              Total:<span><i class="fas fa-dollar-sign"></i>₱ {{payment.amount_paid}}</span></p>
          </div>
  
        </div>
  

  
      </div>
  
  
  
    </div>
    <div class="card-footer"></div>
  </div>    
{% endblock content %}