{% extends 'components1/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  E-Events
{% endblock %}

{% block content %}
  {% include 'components1/navbar.html' %}

  <main class="main">
    {% comment %}Hero Section{% endcomment %}
    <section id="hero" class="hero section dark-background">
      {% comment %} <img src="{% static 'assets1/img/world-dotted-map.png' %}" alt="" class="hero-bg" data-aos="fade-in" /> {% endcomment %}

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2 data-aos="fade-up">{{hero.hero_text}}</h2>
            <p data-aos="fade-up" data-aos-delay="100">{{ hero.hero_description }}</p>
            <div class="">
              <a href="{% url 'user:login' %}" class="book-now-btn" data-aos="fade-up" data-aos-delay="100">Book now!</a>
            </div>
          </div>

          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'assets1/img/Wedding-bro.png' %}" class="img-fluid mb-3 mb-lg-0" alt="" />
          </div>
        </div>
      </div>
    </section>
    {% comment %}End of hero section{% endcomment %}

    {% comment %}About Section{% endcomment %}
    <section id="about" class="about section mt-2">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start  order-first" data-aos="fade-up" data-aos-delay="200">
            
            <img src="{{about.img.url}}" class="img-fluid" alt="sad" />
          </div>

          <div class="col-lg-6 content order-last " data-aos="fade-up" data-aos-delay="100">
            <h3>About us</h3>
            <p>{{about.description}}</p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                  <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    {% comment %}End of About Section{% endcomment %}

    {% comment %}Project Section{% endcomment %}
    <section id="projects" class="projects section">
      <div class="conatiner section-title" data-aos="fade-up">
        <span>Projects</span>
        <h2>Projects</h2>
        <p>Here are some of my projects.</p>
      </div>

      {% comment %} <div class="container">
        <div class="row gy-4">
          {% for project in  projects %}
          <div class="col-lg-4 cold-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{{project.img.url}}" alt="" class="img-fluid" />
              </div>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
      <div class="container text-center mt-4" data-aos="fade-up" data-aos-delay="100">
        <a href="" class="view-more-btn">View More Projects</a>
      </div> 

      <div class="container">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for project in projects %}
            <div class="carousel-item {% if forloop.counter == 1 %}  active{% endif %}">
              <img src="{{project.img.url}}" alt="" class="img-fluid " />
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div> {% endcomment %}
      <div id="gridContainer" class="container d-block d-md-block d-lg-block">
        <div class="row gy-4">
          {% for project in projects %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{{ project.img.url }}" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="container text-center mt-4" data-aos="fade-up" data-aos-delay="100">
          <a href="" class="view-more-btn">View More Projects</a>
        </div>
      </div>
    
      <!-- Carousel Layout (Shown on Tablet & Mobile) -->
      <div id="carouselContainer" class="container d-none d-md-none">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for project in projects %}
            <div class="carousel-item {% if forloop.counter == 1 %} active{% endif %}">
              <img src="{{ project.img.url }}" alt="" class="img-fluid" />
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
    {% comment %}End of Project Section{% endcomment %}

    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Awards</span>
        <h2>Awards</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        {% for award in awards %}
        <div class="row gy-4  features-item">
          <div class="col-md-5 d-flex {% if forloop.counter|divisibleby:2 %}order-1 order-md-2{% endif %} align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{{award.img.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 {% if forloop.counter|divisibleby:2 %}order-2 order-md-1{% endif %}" data-aos="fade-up" data-aos-delay="100">
            <h3>{{award.award_name}}</h3>
            <p>{{award.description}}</p>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>

    {% comment %}Start of packages Section{% endcomment %}
    <section id="packages" class="packages section">
      <div class="container section-title" data-aos="fade-up">
        <span>Packages</span>
        <h2>Packages</h2>
        <p>Here are the top packages we offer.</p>
      </div>

      <div class="container">
        <div class="row gy-4">
          {% for package in packages %}
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="package-item">
              <h3>{{package.package_name}}</h3>
              {% if package.package_type == "fixed" %}
                <h4><sup>₱</sup>{{package.package_price|floatformat:0|intcomma}}</h4>
              {% else %}
              <h4><sup>₱</sup>Custom</h4>
              {% endif %}
              <ul>
                {% if package.package_type == "fixed" %}
                <li>
                  <i class="bi bi-check"></i><span>Avail all of our services</span>
                </li>
                {% else %}
                <li>
                  <i class="bi bi-check"></i> <span>Create your own package</span>
                </li>
                {% endif %}
                
              </ul>
              {% if package.package_type == "fixed" %}
              <a href="#" class="buy-btn">View Package</a>
              {% else %}
              <a href="#" class="buy-btn">Get a quote</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
           {% comment %} <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="package-item">
              <h3>Package 3</h3>
              <h4><sup>₱</sup>0</h4>
              <ul>
                <li>
                  <i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span>
                </li>
                <li>
                  <i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span>
                </li>
                <li>
                  <i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span>
                </li>
                <li class="na">
                  <i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span>
                </li>
                <li class="na">
                  <i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span>
                </li>
              </ul>
              <a href="#" class="buy-btn">View Package</a>
            </div>
          </div> {% endcomment %}

        </div>
      </div>
    </section>
    {% comment %}End of packages Section{% endcomment %}

    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Frequently Asked Questions</span>
        <h2>Frequently Asked Questions</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container accordion">
              {% for faq in faqs %}
              <div class="faq-item {% if forloop.first %}faq-active{% endif %}" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>{{faq.question}}</h3>
                <div class="faq-content">
                  <p>{{ faq.answer }}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              {% endfor %}
            </div>

          </div>

        </div>

      </div>

    </section>

    {% comment %}Contact Us Section{% endcomment %}
    <section id="contactus" class="contactus section">
      <div class="container section-title" data-aos="fade-up">
        <span>Contact Us</span>
        <h2>Contact Us</h2>
        <p>You can access us here.</p>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="row gy-4">
          
          <div class="col-xl-6">
            <div class="row">

              <div class="col-lg-6">
                <div class="info-box card">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                    <p>Vinzons, Camarines Norte</p>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="info-box card">
                  <i class="bi bi-telephone"></i>
                  <h3>Address</h3>
                  <p>Vinzons, Camarines Norte</p>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="info-box card">
                  <i class="bi bi-envelope"></i>
                  <h3>Address</h3>
                  <p>Vinzons, Camarines Norte</p>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="info-box card">
                  <i class="bi bi-clock"></i>
                  <h3>Address</h3>
                  <p>Vinzons, Camarines Norte</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xl-6">
            <div class="card p-4 info-box-email">
              <form action="" method="post" class="email-from">
                <div class="row gy-4">
  
                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                  </div>
  
                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                  </div>
  
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                  </div>
  
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                  </div>
  
                  <div class="col-md-12 text-center">
                    {% comment %} <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div> {% endcomment %}
                    <button type="submit" class="send-email-btn">Send Message</button>
                  </div>
  
                </div>
              </form>
            </div>
  
          </div>
        </div>
      </div>
    </section>
    {% comment %}End of Contact Us Section{% endcomment %}

    {% comment %} Footer {% endcomment %}
    {% include "components1/footer.html" %}
    {% comment %} End footer {% endcomment %}
  </main>

  <script>
    function toggleView() {
      let gridContainer = document.getElementById("gridContainer");
      let carouselContainer = document.getElementById("carouselContainer");
  
      if (window.innerWidth >= 992) { // Desktop view (Bootstrap lg breakpoint)
        gridContainer.classList.remove("d-none");
        carouselContainer.classList.add("d-none");
      } else { // Tablet and below (Bootstrap md and below)
        gridContainer.classList.add("d-none");
        carouselContainer.classList.remove("d-none");
      }
    }
  
    // Run on load and resize
    window.addEventListener("load", toggleView);
    window.addEventListener("resize", toggleView);
  </script>
{% endblock %}
