{% extends 'components1/base.html' %}
{% load static %}
{% block title %}
  E-Events | Login
{% endblock %}

{% block content %}
  {% comment %} {% include "components1/navbar.html" %} {% endcomment %}
  <main class="bg-login">
    
    <div class="container">
      <section class="section login min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        {% comment %} <img src="{% static 'assets1/img/world-dotted-map.png' %}" alt="" class="login-bg-img"> {% endcomment %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'user:landingpage' %}" class="logo d-flex align-items-center w-auto">
                  <h3 class="text-light" style="font-weight: 700; font-size: 40px; font-family: z-index: 1; "Poppings", sans-serif;">E-Events</h3>
                </a>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="text-center pb-0 fs-4">LOGIN TO YOUR ACCOUNT</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form method="post" class="row g-3" >
                    {% csrf_token %}

                    {% for field in  form %}
                    
                    <div class="col-12 login-form">
                      <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
                      {{field}}
                      {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors }}</div>
                      {% endif %}
                    </div>

                    {% endfor %}
                    <div class="col-12 text-end forgot-password">
                      <a href="{% url 'user:forgotpassword' %}">Forgot your password?</a>
                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn btn-primary w-100 sd">Login</button>
                    </div>
                  </form>

                  <div class="col-12 mt-2">
                    <p class="small mb-0">
                      Don't have account? <a href="{% url 'user:register' %}">Create an account</a>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("form").addEventListener("submit", function (e) {
            Swal.fire({
                title: "Please wait...",
                text: "",
                allowOutsideClick: false,
                allowEscapeKey: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
        });
    });
  </script>
{% endblock %}
