{% extends 'components/base.html' %}
{% load static %}
{% block title %}
  E-Events | Activity Logs
{% endblock %}

{% block content %}
  {% include 'components/sidebar.html' %}

  <section class="section activity-logs mt-5">
    <div class="card mb-4">
      <div class="card-header mb-4 t-header">
        <i class="bi bi-table"></i>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover datatable">
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for log in page_obj %}
            <tr>
              <td>{{ log.user.first_name }} {{ log.user.last_name }}</td>
              <td>{{ log.created_at|date:"F d, Y" }}</td>
              <td>{{ log.created_at|date:"h:i A" }}</td>
              <td>
                <p class="{% if log.activity == "Add" %}bg-success{% elif log.activity == "Update" %}bg-info{% else %}bg-danger{% endif %} d-inline-block px-2 text-light action">
                  {{ log.activity }}
                </p>
              </td>
              <td>{{ log.description }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No activity logs found.</td>
            </tr>
            {% endfor %}
          </tbody>
          
        </table>
        
      </div>
    </div>
  </section>

  
{% endblock %}
